html {
    font-family: 'Roboto Mono', monospace;
    min-height: 700px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1B;
}

.calculator {
    height: 500px;
    width: 400px;
    background-color: #313131;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    border-radius: 5px;
}

.display {
    height: 100px;
    width: 375px;
    border: 3px solid gray;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.811);
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 60px;
}

.calculator-buttons {
    height: 400px;
    width: 375px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-family: 'Roboto Mono', monospace;
    height: 80px;
    width: 93px;
    font-size: 30px;
    border-radius: 5px;
}

.zero {
    width: 186px
}

.ac {
    background-color: rgb(219, 111, 111);
}

.posneg, .percentage {
    background-color: rgb(230, 135, 11);
}

.divide, .multiply, .subtract, .add, .equals {
    background-color: rgb(126, 187, 215);
}

div.calculator button:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
    transform: scale(1.1);
}

.footer {
    margin-top: 100px;
    font-size: 20px;
    color: white;
    font-family: 'Pacifico', cursive;
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Logo-related items & animation */
.github {
    background-color: #1A1A1B;
    border: 0px solid #1A1A1B;
    color: white;
    height: auto;
    width: auto;
    transition: transform .3s ease-in-out;
}

.github:hover {
    cursor: pointer;
    transform: rotate(3.142rad);
    transition: transform .7s ease-in-out;
}

/* Name animation */
.name::after {
    content: "";
    display: block;
    position: absolute;
    width: 125px;
    height: 3px;
    background: white;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

.name:hover::after{
    transform: scale(1);
}